asn1crypto
certifi
cffi
chardet
cryptography
cycler
idna
joblib
kiwisolver
matplotlib
numpy
olefile
Pillow
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
six
torch
torchfile
torchvision
tornado
tqdm
urllib3
visdom
websocket-client
